/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

.jekyll-cache

Gemfile.lock

.vscode/*
*.code-workspace

# Local History for Visual Studio Code
.history/
